{% extends 'base.html' %}

{% block head %}
    <title>Update</title>
{% endblock %}

{% block body %}
    <div class="jumbotron container mt-5">
        <div class="container">
            <h2>Update </h2>
               <div class="container">
                    <form action="/update/{{  task.id  }}" method="post">
                        <div class="form mt-5">
                          <input type="text" name="content" id="content" class="form-control" value="{{ task.content }}">
                            <button type="submit" class="btn btn-success" value="Add Task">Update</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
{% endblock %}